body {
    min-width: 1240px;
    min-height: 1150px;
    width: 100%;
    height: 100%;
    background-image: url(../img/back1.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    margin: 0;
    padding: 0;
}
.padding-page {
  padding-left: 52px !important;
  padding-right: 60px !important;
}
.head-tittle {
    width: 100%;
    height: 110px;
    display: inline;
    background-color: #6caae6;
    margin-top: 0px;
    padding: 0px;
    display: block;
}
.head-tittle-logo {
  padding-top: 30px;
  float: left;
  font-size: 38px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.head-tittle-menu {
  padding-top: 40px;
  float: right;
}
.menu-li {
  display: inline;
  margin-right: 50px;
  font-size: 26px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.body-page-home {
  width: 100%;
  height: 620px;
  margin-top: 0px;
  display: flex;
  justify-content: space-between;
}
.body-page-home-blocks {
  width: 260px;
  height: 400px;
  margin-top: 75px;
  border-radius: 10%;
  background-color: white;
  margin-right: 10px;
}
.body-page-home-blocks-img {
  padding-top: 25px;
  padding-left: 50px;
  padding-bottom: 20px;
}
.body-page-home-blocks-button {
  height: 45px;
  width: 180px;
  background-color: #6caae6;
  color: white;
  border-radius: 10px;
  text-align: center;
  margin-left: 24px;
  margin-top: 10px;
  font-size: 22px;
  border: none;
  margin-bottom: 25px;
}
.body-page-home-2 {
  width: 100%;
  height: 270px;
  display: block;
  margin-bottom: 160px;
}
.body-page-home-2-blocks {
  width: 100%;
  height: 220px;
  display: block;
  background-color: #6caae6;
  border-radius: 20px;
  padding: 25px 20px 25px 20px;
  letter-spacing: 1.5px;
  opacity: 0.7;
  filter: alpha(Opacity=70);

}
.bottom-footer {
  width: 100%;
  height: 150px;
  display: block;
  background-color: #26cc69;
  padding-top: 20px;
}
.bottom-footer-1 {
  display: flex;
  justify-content: center;
  padding-bottom: 6px;
}
.bottom-footer-2 {
  display: flex;
  text-align: right;
}





.body-page-login {
  width: 100%;
  height: 890px;
  margin-top: 0px;
  display: flex;
  justify-content: space-between;
}
.body-page-signin {
  width: 100%;
  height: 890px;
  margin-top: 0px;
  display: flex;
  justify-content: space-between;
}
.body-page-more {
  width: 100%;
  height: 890px;
  margin-top: 0px;
  display: flex;
  justify-content: space-between;
}
